# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache


# Folders to ignore, whatever the place they are
 
.metadata
classes
hybris/bin/**/bin
gensrc/
testclasses
eclipsebin

# Folders to ignore at the root of the repository
licenses/
roles/
log/
temp/
data/

  
# filter only custom extension
bin/*
!bin/custom/
config/*
!config/customize/
!config/local.properties
!config/localextensions.xml

# Absolute path to ignore
# config/local.properties

#IDE files
.gradle
.idea
idea-module-files
*.iml
com.springsource.sts.config.flow.prefs
org.sonar.ide.eclipse.core.prefs
HybrisCodeGeneration.launch

org.springframework.ide.eclipse.beans.core.prefs
org.springframework.ide.eclipse.core.prefs
.springBeans 

# Filename patterns to ignore
lib/.lastupdate
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
base.properties
.pmd
*build.number


#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
**/lib/addons
**/web/addonsrc
**/_ui-src/addons
**/web/addontestsrc
**/web/commonwebsrc/*/
**/web/webroot/WEB-INF/lib/addon-*
wro_addons.xml

# Backoffice artifacts
*_bof.jar

# project ignore
/build/
/dependencies/
/cloud-extension-pack/
gradle.properties